.Navbar {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Logo {
  background-color: #eceff1;
  font-size: 22px;
  padding: 0 13px;
  margin-right: 15px;
  display: flex;
  height: 100%;
  align-items: center;

  & a {
    text-decoration: none;
    color: black;
  }
}

.DropDown {
  display: inline-block;
  margin-left: auto;
  margin-right: 1rem;
}
